
/* root */
* {
    box-sizing: border-box;
  }
  
  :root {
    --gold: gold;
    --light-shadow: #77571d;
    --dark-shadow: #3e2904;
  }

/* body */

body {
    background: black;
    background-position:center;
    background-repeat:no-repeat;
    background-size: cover;

    background-color: black;
    font-family: sans-serif;
    color: white;
    text-align: center;
}

/* header logo effect */

.wrapper {
    background-color: black;
    display: grid;
    grid-template-areas: 'overlap';
    place-content: center;
    text-transform: uppercase;
    height: auto;
  }
  .wrapper > div {
    background-clip: text;  
    -webkit-background-clip: text;
    color: black;
    font-family: 'Poppins', sans-serif;
    font-weight: 900;
    text-align: center;
    font-size: 2.5rem;
    grid-area: overlap;
    letter-spacing: 1px;
    -webkit-text-stroke: 4px transparent;
  }

  

  div.bg {
    background-image: repeating-linear-gradient( 105deg, 
      var(--gold) 0% , 
      var(--dark-shadow) 5%,
      var(--gold) 12%);
    color: transparent;
    filter: drop-shadow(5px 15px 15px black);
    transform: scaleY(1.05);
    transform-origin: top;
  }
  div.fg{
    background-image: repeating-linear-gradient( 5deg,  
      var(--gold) 0% , 
      var(--light-shadow) 23%, 
      var(--gold) 31%);
    color: black;
    transform: scale(1);
  }


/* h2 sizing - for timer area */

  h2 {
    font-size: 26px;
    font-weight: ;
    text-align: center;
    text-transform: uppercase;
    padding: 20px 20px 20px 20px;
    color: white;
    display: ;
  }

/* Play Now Button */

button {
    font-size: 26px;
    text-align: center;
    text-transform: uppercase;
    color: gold;
    background-color: black;
    border-color: gold;
    border: solid;
    padding: 10px 10px 10px 10px;
    border-radius: 5%;
  }

button:hover {
    background-color: gold;
    color: black;
    border-color: white;
  }


/* Game area */

.game-area {
    background-color: black;
    box-sizing: border-box;
    width: 100%;
    height: auto;
    max-width: 830px;
    margin-left: auto;
    margin-right: auto;
}


/* controls area */

.controls-area {
    width: 100%;
    margin: auto;
    
}


/* everything A */

.image-a {
    color: black;
    margin: 10px 10px 10px 10px;
    background-color: black;
    background-repeat:no-repeat;
    border: none;
    cursor:pointer;
    overflow: hidden;  
    transition: all 200ms
    
}

.image-a::after {
    content: attr(data-type);
    color: black;
    position: relative;

}

.image-a:focus {
    outline: soid;
    border-radius: 50%;
}

.image-a:hover {
    color: black;
    border-radius: 50%;
    outline-offset: 15px;
}

.image-a:active {
    color: black;
    border-radius: 50%;
    box-shadow: inset 0 0 20px black, 0 0 30px gold;
    outline: none;
    
}

#pausea {
    border-radius: 50%;
    background-color: black;
    border-color: black;
    color: black;
    height: 125px;
    width: 125px;
    outline-color: black;

    
}


#slidesa{
	position: relative;
	height: 100%;
    width: 100%;
	padding: 0;
	margin: auto;
	list-style-type: none;
    overflow: hidden;
    border-radius: 50%;
       

}


.slidea{
	position: absolute;
	left: 0px;
	top: 0px;
	width: 100%;
	height: 100%;
	opacity: 1;
	z-index: 1;
    overflow: hidden;
    padding: 15px 15px 15px 15px;
    margin: 0;
    border: 0;
    
    
    


	-webkit-transition: opacity 1;
	-moz-transition: opacity 1;
	-o-transition: opacity 1;
	transition: opacity 1;
}

.showing{
	opacity: 1;
	z-index: 2;
}




/* everything B */

.image-b {
    color: black;
    margin: 10px 10px 10px 10px;
    background-color: black;
    background-repeat:no-repeat;
    border: none;
    cursor:pointer;
    overflow: hidden;  
    transition: all 200ms
    
}

.image-b::after {
    content: attr(data-type);
    color: black;
    position: relative;

}

.image-b:focus {
    outline: soid;
    border-radius: 50%;
}

.image-b:hover {
    color: black;
    border-radius: 50%;
    outline-offset: 15px;
}

.image-b:active {
    color: black;
    border-radius: 50%;
    box-shadow: inset 0 0 20px black, 0 0 30px gold;
    outline: none;
    
}

#pauseb {
    border-radius: 50%;
    background-color: black;
    border-color: black;
    color: black;
    height: 125px;
    width: 125px;
    outline-color: black;

    
}


#slidesb{
	position: relative;
	height: 100%;
    width: 100%;
	padding: 0;
	margin: auto;
	list-style-type: none;
    overflow: hidden;
    border-radius: 50%;
       

}


.slideb{
	position: absolute;
	left: 0px;
	top: 0px;
	width: 100%;
	height: 100%;
	opacity: 1;
	z-index: 1;
    overflow: hidden;
    padding: 15px 15px 15px 15px;
    margin: 0;
    border: 0;
    
    
    


	-webkit-transition: opacity 1;
	-moz-transition: opacity 1;
	-o-transition: opacity 1;
	transition: opacity 1;
}

.showing{
	opacity: 1;
	z-index: 2;
}



/* everything C */

.image-c {
    color: black;
    margin: 10px 10px 10px 10px;
    background-color: black;
    background-repeat:no-repeat;
    border: none;
    cursor:pointer;
    overflow: hidden;  
    transition: all 200ms
    
}

.image-c::after {
    content: attr(data-type);
    color: black;
    position: relative;

}

.image-c:focus {
    outline: soid;
    border-radius: 50%;
}

.image-c:hover {
    color: black;
    border-radius: 50%;
    outline-offset: 15px;
}

.image-c:active {
    color: black;
    border-radius: 50%;
    box-shadow: inset 0 0 20px black, 0 0 30px gold;
    outline: none;
    
}


#pausec {
    border-radius: 50%;
    background-color: black;
    border-color: black;
    color: black;
    height: 125px;
    width: 125px;
    outline-color: black;

    
}

#slidesc{
	position: relative;
	height: 100%;
    width: 100%;
	padding: 0;
	margin: auto;
	list-style-type: none;
    overflow: hidden;
    border-radius: 50%;
       

}


.slidec{
	position: absolute;
	left: 0px;
	top: 0px;
	width: 100%;
	height: 100%;
	opacity: 1;
	z-index: 1;
    overflow: hidden;
    padding: 15px 15px 15px 15px;
    margin: 0;
    border: 0;
    


	-webkit-transition: opacity 1;
	-moz-transition: opacity 1;
	-o-transition: opacity 1;
	transition: opacity 1;
}

.showing{
	opacity: 1;
	z-index: 2;
}


/* everything D */

.image-d {
    color: black;
    margin: 10px 10px 10px 10px;
    background-color: black;
    background-repeat:no-repeat;
    border: none;
    cursor:pointer;
    overflow: hidden;  
    transition: all 200ms
    
}

.image-d::after {
    content: attr(data-type);
    color: black;
    position: relative;

}

.image-d:focus {
    outline: soid;
    border-radius: 50%;
}

.image-d:hover {
    color: black;
    border-radius: 50%;
    outline-offset: 15px;
}

.image-d:active {
    color: black;
    border-radius: 50%;
    box-shadow: inset 0 0 20px black, 0 0 30px gold;
    outline: none;
    
}


#paused {
    border-radius: 50%;
    background-color: black;
    border-color: black;
    color: black;
    height: 125px;
    width: 125px;
    outline-color: black;

    
}

#slidesd{
	position: relative;
	height: 100%;
    width: 100%;
	padding: 0;
	margin: auto;
	list-style-type: none;
    overflow: hidden;
    border-radius: 50%;
       

}


.slided{
	position: absolute;
	left: 0px;
	top: 0px;
	width: 100%;
	height: 100%;
	opacity: 1;
	z-index: 1;
    overflow: hidden;
    padding: 15px 15px 15px 15px;
    margin: 0;
    border: 0;
    
    
    


	-webkit-transition: opacity 1;
	-moz-transition: opacity 1;
	-o-transition: opacity 1;
	transition: opacity 1;
}

.showing{
	opacity: 1;
	z-index: 2;
}



/* everything E */

.image-e {
    color: black;
    margin: 10px 10px 10px 10px;
    background-color: black;
    background-repeat:no-repeat;
    border: none;
    cursor:pointer;
    overflow: hidden;  
    transition: all 200ms
    
}

.image-e::after {
    content: attr(data-type);
    color: black;
    position: relative;

}

.image-e:focus {
    outline: soid;
    border-radius: 50%;
}

.image-e:hover {
    color: black;
    border-radius: 50%;
    outline-offset: 15px;
}

.image-e:active {
    color: black;
    border-radius: 50%;
    box-shadow: inset 0 0 20px black, 0 0 30px gold;
    outline: none;
    
}


#pausee {
    border-radius: 50%;
    background-color: black;
    border-color: black;
    color: black;
    height: 125px;
    width: 125px;
    outline-color: black;

    
}

#slidese{
	position: relative;
	height: 100%;
    width: 100%;
	padding: 0;
	margin: auto;
	list-style-type: none;
    overflow: hidden;
    border-radius: 50%;
       

}


.slidee{
	position: absolute;
	left: 0px;
	top: 0px;
	width: 100%;
	height: 100%;
	opacity: 1;
	z-index: 1;
    overflow: hidden;
    padding: 15px 15px 15px 15px;
    margin: 0;
    border: 0;
    
    
    


	-webkit-transition: opacity 1;
	-moz-transition: opacity 1;
	-o-transition: opacity 1;
	transition: opacity 1;
}

.showing{
	opacity: 1;
	z-index: 2;
}



/* everything F */

.image-f {
    color: black;
    margin: 10px 10px 10px 10px;
    background-color: black;
    background-repeat:no-repeat;
    border: none;
    cursor:pointer;
    overflow: hidden;  
    transition: all 200ms
    
}

.image-f::after {
    content: attr(data-type);
    color: black;
    position: relative;

}

.image-f:focus {
    outline: soid;
    border-radius: 50%;
}

.image-f:hover {
    color: black;
    border-radius: 50%;
    outline-offset: 15px;
}

.image-f:active {
    color: black;
    border-radius: 50%;
    box-shadow: inset 0 0 20px black, 0 0 30px gold;
    outline: none;
    
}


#pausef {
    border-radius: 50%;
    background-color: black;
    border-color: black;
    color: black;
    height: 125px;
    width: 125px;
    outline-color: black;

    
}

#slidesf{
	position: relative;
	height: 100%;
    width: 100%;
	padding: 0;
	margin: auto;
	list-style-type: none;
    overflow: hidden;
    border-radius: 50%;
       

}


.slidef{
	position: absolute;
	left: 0px;
	top: 0px;
	width: 100%;
	height: 100%;
	opacity: 1;
	z-index: 1;
    overflow: hidden;
    padding: 15px 15px 15px 15px;
    margin: 0;
    border: 0;
    
    


	-webkit-transition: opacity 1;
	-moz-transition: opacity 1;
	-o-transition: opacity 1;
	transition: opacity 1;
}

.showing{
	opacity: 1;
	z-index: 2;
}



/* everything G */

.image-g {
    color: black;
    margin: 10px 10px 10px 10px;
    background-color: black;
    background-repeat:no-repeat;
    border: none;
    cursor:pointer;
    overflow: hidden;  
    transition: all 200ms
    
}

.image-g::after {
    content: attr(data-type);
    color: black;
    position: relative;

}

.image-g:focus {
    outline: soid;
    border-radius: 50%;
}

.image-g:hover {
    color: black;
    border-radius: 50%;
    outline-offset: 15px;
}

.image-g:active {
    color: black;
    border-radius: 50%;
    box-shadow: inset 0 0 20px black, 0 0 30px gold;
    outline: none;
    
}


#pauseg {
    border-radius: 50%;
    background-color: black;
    border-color: black;
    color: black;
    height: 125px;
    width: 125px;
    outline-color: black;

    
}

#slidesg{
	position: relative;
	height: 100%;
    width: 100%;
	padding: 0;
	margin: auto;
	list-style-type: none;
    overflow: hidden;
    border-radius: 50%;
       

}


.slideg{
	position: absolute;
	left: 0px;
	top: 0px;
	width: 100%;
	height: 100%;
	opacity: 1;
	z-index: 1;
    overflow: hidden;
    padding: 15px 15px 15px 15px;
    margin: 0;
    border: 0;
    
    
    


	-webkit-transition: opacity 1;
	-moz-transition: opacity 1;
	-o-transition: opacity 1;
	transition: opacity 1;
}

.showing{
	opacity: 1;
	z-index: 2;
}



/* everything H */

.image-h {
    color: black;
    margin: 10px 10px 10px 10px;
    background-color: black;
    background-repeat:no-repeat;
    border: none;
    cursor:pointer;
    overflow: hidden;  
    transition: all 200ms
    
}

.image-h::after {
    content: attr(data-type);
    color: black;
    position: relative;

}

.image-h:focus {
    outline: soid;
    border-radius: 50%;
}

.image-h:hover {
    color: black;
    border-radius: 50%;
    outline-offset: 15px;
}

.image-h:active {
    color: black;
    border-radius: 50%;
    box-shadow: inset 0 0 20px black, 0 0 30px gold;
    outline: none;
    
}


#pauseh {
    border-radius: 50%;
    background-color: black;
    border-color: black;
    color: black;
    height: 125px;
    width: 125px;
    outline-color: black;

    
}

#slidesh{
	position: relative;
	height: 100%;
    width: 100%;
	padding: 0;
	margin: auto;
	list-style-type: none;
    overflow: hidden;
    border-radius: 50%;
       

}


.slideh{
	position: absolute;
	left: 0px;
	top: 0px;
	width: 100%;
	height: 100%;
	opacity: 1;
	z-index: 1;
    overflow: hidden;
    padding: 15px 15px 15px 15px;
    margin: 0;
    border: 0;
    
    
    


	-webkit-transition: opacity 1;
	-moz-transition: opacity 1;
	-o-transition: opacity 1;
	transition: opacity 1;
}

.showing{
	opacity: 1;
	z-index: 2;
}



/* everything I */

.image-i {
    color: black;
    margin: 10px 10px 10px 10px;
    background-color: black;
    background-repeat:no-repeat;
    border: none;
    cursor:pointer;
    overflow: hidden;  
    transition: all 200ms
    
}

.image-i::after {
    content: attr(data-type);
    color: black;
    position: relative;

}

.image-i:focus {
    outline: soid;
    border-radius: 50%;
}

.image-i:hover {
    color: black;
    border-radius: 50%;
    outline-offset: 15px;
}

.image-i:active {
    color: black;
    border-radius: 50%;
    box-shadow: inset 0 0 20px black, 0 0 30px gold;
    outline: none;
    
}


#pausei {
    border-radius: 50%;
    background-color: black;
    border-color: black;
    color: black;
    height: 125px;
    width: 125px;
    outline-color: black;

    
}

#slidesi{
	position: relative;
	height: 100%;
    width: 100%;
	padding: 0;
	margin: auto;
	list-style-type: none;
    overflow: hidden;
    border-radius: 50%;
       

}


.slidei{
	position: absolute;
	left: 0px;
	top: 0px;
	width: 100%;
	height: 100%;
	opacity: 1;
	z-index: 1;
    overflow: hidden;
    padding: 15px 15px 15px 15px;
    margin: 0;
    border: 0;
    
    
    


	-webkit-transition: opacity 1;
	-moz-transition: opacity 1;
	-o-transition: opacity 1;
	transition: opacity 1;
}

.showing{
	opacity: 1;
	z-index: 2;
}





/* scores */

.score-area {
    margin: 5px auto;
    width: 60%;
    font-size: 1.5rem;
    padding: 10px;
}

.game-over {
    margin: 5px auto;
    width: 60%;
    padding: 20px 20px 20px 20px;
    font-size: 1.5rem;
    padding: 10px;
}



#score {
    color: gold;
    font-weight: bold;
    
}

#result {
    color: gold;
    font-weight: bold;
    
}

#test {
    color: gold;
    font-weight: bold;
    
}

#bananas {
    color: gold;
    font-weight: bold;
    
}

#game-over {
    color: white;
    font-weight: bold;
    font-size: 30px;
    
}

#monkeylives {
    color: red;
    font-weight: bold;
}

.scores {
    display: inline-block;
    padding: 10px;
    border: 10px;
}




/* --------- Media queries */

@media (max-width: 460px) {


.score-area {
    width: 100%;
}

.scores {
    margin: 0.5em auto;
    display: block;
    padding: 5px;
}

.heading {
    font-size: 2rem;
}

 
.game-area {
    width: 100%;
}

.question-area {
    padding: 10px 0;
}

button {
    font-size: 26px;
    text-align: center;
    text-transform: uppercase;
    color: gold;
    background-color: black;
    border-color: gold;
    border: solid;
    padding: 1px 1px 1px 1px;
    border-radius: 5%;
  }



/* A */

.image-a {
    color: black;
    margin: 20px 1px 0px 1px;
    background-color: black;
    background-repeat:no-repeat;
    border: none;
    cursor:pointer;
    overflow: hidden;  
    transition: all 200ms;   
}


.image-a:active {
    color: black;
    border-radius: 50%;
    box-shadow: inset 0 0 20px black, 0 0 30px gold;
    outline: none;  
}

#pausea {
    border-radius: 50%;
    background-color: black;
    border-color: black;
    color: black;
    height: 90px;
    width: 90px;
    outline-color: black;
}


#slidesa {
	position: relative;
	height: 100%;
    width: 100%;
	padding: 0;
	margin: auto;
	list-style-type: none;
    overflow: hidden;
    border-radius: 50%;
}


.slidea{
	position: absolute;
	left: 0px;
	top: 0px;
	height: 100%;
	width: 100%;
	opacity: 1;
	z-index: 1;
    overflow: hidden;
    margin: 0;
    border: 0;
    
    


	-webkit-transition: opacity 1;
	-moz-transition: opacity 1;
	-o-transition: opacity 1;
	transition: opacity 1;
}

.showing{
	opacity: 1;
	z-index: 2;
}

/* B */

.image-b {
    color: black;
    margin: 20px 1px 0px 1px;
    background-color: black;
    background-repeat:no-repeat;
    border: none;
    cursor:pointer;
    overflow: hidden;  
    transition: all 200ms;   
}


.image-b:active {
    color: black;
    border-radius: 50%;
    box-shadow: inset 0 0 20px black, 0 0 30px gold;
    outline: none;  
}

#pauseb {
    border-radius: 50%;
    background-color: black;
    border-color: black;
    color: black;
    height: 90px;
    width: 90px;
    outline-color: black;
}


#slidesb {
	position: relative;
	height: 100%;
    width: 100%;
	padding: 0;
	margin: auto;
	list-style-type: none;
    overflow: hidden;
    border-radius: 50%;
}


.slideb{
	position: absolute;
	left: 0px;
	top: 0px;
	height: 100%;
	width: 100%;
	opacity: 1;
	z-index: 1;
    overflow: hidden;
    margin: 0;
    border: 0;
    
    


	-webkit-transition: opacity 1;
	-moz-transition: opacity 1;
	-o-transition: opacity 1;
	transition: opacity 1;
}

.showing{
	opacity: 1;
	z-index: 2;
}

/* C */

.image-c {
    color: black;
    margin: 20px 1px 0px 1px;
    background-color: black;
    background-repeat:no-repeat;
    border: none;
    cursor:pointer;
    overflow: hidden;  
    transition: all 200ms;   
}


.image-c:active {
    color: black;
    border-radius: 50%;
    box-shadow: inset 0 0 20px black, 0 0 30px gold;
    outline: none;  
}

#pausec {
    border-radius: 50%;
    background-color: black;
    border-color: black;
    color: black;
    height: 90px;
    width: 90px;
    outline-color: black;
}


#slidesc {
	position: relative;
	height: 100%;
    width: 100%;
	padding: 0;
	margin: auto;
	list-style-type: none;
    overflow: hidden;
    border-radius: 50%;
}


.slidec{
	position: absolute;
	left: 0px;
	top: 0px;
	height: 100%;
	width: 100%;
	opacity: 1;
	z-index: 1;
    overflow: hidden;
    margin: 0;
    border: 0;
    
    


	-webkit-transition: opacity 1;
	-moz-transition: opacity 1;
	-o-transition: opacity 1;
	transition: opacity 1;
}

.showing{
	opacity: 1;
	z-index: 2;
}

/* D */

.image-d {
    color: black;
    margin: 20px 1px 0px 1px;
    background-color: black;
    background-repeat:no-repeat;
    border: none;
    cursor:pointer;
    overflow: hidden;  
    transition: all 200ms;   
}


.image-d:active {
    color: black;
    border-radius: 50%;
    box-shadow: inset 0 0 20px black, 0 0 30px gold;
    outline: none;  
}

#paused {
    border-radius: 50%;
    background-color: black;
    border-color: black;
    color: black;
    height: 90px;
    width: 90px;
    outline-color: black;
}


#slidesd {
	position: relative;
	height: 100%;
    width: 100%;
	padding: 0;
	margin: auto;
	list-style-type: none;
    overflow: hidden;
    border-radius: 50%;
}


.slided{
	position: absolute;
	left: 0px;
	top: 0px;
	height: 100%;
	width: 100%;
	opacity: 1;
	z-index: 1;
    overflow: hidden;
    margin: 0;
    border: 0;
    
    


	-webkit-transition: opacity 1;
	-moz-transition: opacity 1;
	-o-transition: opacity 1;
	transition: opacity 1;
}

.showing{
	opacity: 1;
	z-index: 2;
}

/* D */

.image-d {
    color: black;
    margin: 10px 10px 10px 10px;
    background-color: black;
    background-repeat:no-repeat;
    border: none;
    cursor:pointer;
    overflow: hidden;  
    transition: all 200ms;   
}


.image-d:active {
    color: black;
    border-radius: 50%;
    box-shadow: inset 0 0 20px black, 0 0 30px gold;
    outline: none;  
}

#paused {
    border-radius: 50%;
    background-color: black;
    border-color: black;
    color: black;
    height: 60px;
    width: 60px;
    outline-color: black;
}


#slidesd {
	position: relative;
	height: 100%;
    width: 100%;
	padding: 0;
	margin: auto;
	list-style-type: none;
    overflow: hidden;
    border-radius: 50%;
}


.slided{
	position: absolute;
	left: 0px;
	top: 0px;
	height: 100%;
	width: 100%;
	opacity: 1;
	z-index: 1;
    overflow: hidden;
    margin: 0;
    border: 0;
    
    


	-webkit-transition: opacity 1;
	-moz-transition: opacity 1;
	-o-transition: opacity 1;
	transition: opacity 1;
}

.showing{
	opacity: 1;
	z-index: 2;
}

/* E */

.image-e {
    color: black;
    margin: 20px 1px 0px 1px;
    background-color: black;
    background-repeat:no-repeat;
    border: none;
    cursor:pointer;
    overflow: hidden;  
    transition: all 200ms;   
}


.image-e:active {
    color: black;
    border-radius: 50%;
    box-shadow: inset 0 0 20px black, 0 0 30px gold;
    outline: none;  
}

#pausee {
    border-radius: 50%;
    background-color: black;
    border-color: black;
    color: black;
    height: 90px;
    width: 90px;
    outline-color: black;
}


#slidese {
	position: relative;
	height: 100%;
    width: 100%;
	padding: 0;
	margin: auto;
	list-style-type: none;
    overflow: hidden;
    border-radius: 50%;
}


.slidee{
	position: absolute;
	left: 0px;
	top: 0px;
	height: 100%;
	width: 100%;
	opacity: 1;
	z-index: 1;
    overflow: hidden;
    margin: 0;
    border: 0;
    
    


	-webkit-transition: opacity 1;
	-moz-transition: opacity 1;
	-o-transition: opacity 1;
	transition: opacity 1;
}

.showing{
	opacity: 1;
	z-index: 2;
}

/* F */

.image-f {
    color: black;
    margin: 20px 1px 0px 1px;
    background-color: black;
    background-repeat:no-repeat;
    border: none;
    cursor:pointer;
    overflow: hidden;  
    transition: all 200ms;   
}


.image-f:active {
    color: black;
    border-radius: 50%;
    box-shadow: inset 0 0 20px black, 0 0 30px gold;
    outline: none;  
}

#pausef {
    border-radius: 50%;
    background-color: black;
    border-color: black;
    color: black;
    height: 90px;
    width: 90px;
    outline-color: black;
}


#slidesf {
	position: relative;
	height: 100%;
    width: 100%;
	padding: 0;
	margin: auto;
	list-style-type: none;
    overflow: hidden;
    border-radius: 50%;
}


.slidef{
	position: absolute;
	left: 0px;
	top: 0px;
	height: 100%;
	width: 100%;
	opacity: 1;
	z-index: 1;
    overflow: hidden;
    margin: 0;
    border: 0;
    
    


	-webkit-transition: opacity 1;
	-moz-transition: opacity 1;
	-o-transition: opacity 1;
	transition: opacity 1;
}

.showing{
	opacity: 1;
	z-index: 2;
}

/* G */

.image-g {
    color: black;
    margin: 20px 1px 0px 1px;
    background-color: black;
    background-repeat:no-repeat;
    border: none;
    cursor:pointer;
    overflow: hidden;  
    transition: all 200ms;   
}


.image-g:active {
    color: black;
    border-radius: 50%;
    box-shadow: inset 0 0 20px black, 0 0 30px gold;
    outline: none;  
}

#pauseg {
    border-radius: 50%;
    background-color: black;
    border-color: black;
    color: black;
    height: 90px;
    width: 90px;
    outline-color: black;
}


#slidesg {
	position: relative;
	height: 100%;
    width: 100%;
	padding: 0;
	margin: auto;
	list-style-type: none;
    overflow: hidden;
    border-radius: 50%;
}


.slideg{
	position: absolute;
	left: 0px;
	top: 0px;
	height: 100%;
	width: 100%;
	opacity: 1;
	z-index: 1;
    overflow: hidden;
    margin: 0;
    border: 0;
    
    


	-webkit-transition: opacity 1;
	-moz-transition: opacity 1;
	-o-transition: opacity 1;
	transition: opacity 1;
}

.showing{
	opacity: 1;
	z-index: 2;
}

/* H */

.image-h {
    color: black;
    margin: 20px 1px 0px 1px;
    background-color: black;
    background-repeat:no-repeat;
    border: none;
    cursor:pointer;
    overflow: hidden;  
    transition: all 200ms;   
}


.image-h:active {
    color: black;
    border-radius: 50%;
    box-shadow: inset 0 0 20px black, 0 0 30px gold;
    outline: none;  
}

#pauseh {
    border-radius: 50%;
    background-color: black;
    border-color: black;
    color: black;
    height: 90px;
    width: 90px;
    outline-color: black;
}


#slidesh {
	position: relative;
	height: 100%;
    width: 100%;
	padding: 0;
	margin: auto;
	list-style-type: none;
    overflow: hidden;
    border-radius: 50%;
}


.slideh{
	position: absolute;
	left: 0px;
	top: 0px;
	height: 100%;
	width: 100%;
	opacity: 1;
	z-index: 1;
    overflow: hidden;
    margin: 0;
    border: 0;
    
    


	-webkit-transition: opacity 1;
	-moz-transition: opacity 1;
	-o-transition: opacity 1;
	transition: opacity 1;
}

.showing{
	opacity: 1;
	z-index: 2;
}


/* I */

.image-i {
    color: black;
    margin: 20px 1px 0px 1px;
    background-color: black;
    background-repeat:no-repeat;
    border: none;
    cursor:pointer;
    overflow: hidden;  
    transition: all 200ms;   
}


.image-i:active {
    color: black;
    border-radius: 50%;
    box-shadow: inset 0 0 20px black, 0 0 30px gold;
    outline: none;  
}

#pausei {
    border-radius: 50%;
    background-color: black;
    border-color: black;
    color: black;
    height: 60px;
    width: 60px;
    outline-color: black;
}


#slidesi {
	position: relative;
	height: 100%;
    width: 100%;
	padding: 0;
	margin: auto;
	list-style-type: none;
    overflow: hidden;
    border-radius: 50%;
}


.slidei{
	position: absolute;
	left: 0px;
	top: 0px;
	height: 100%;
	width: 100%;
	opacity: 1;
	z-index: 1;
    overflow: hidden;
    margin: 0;
    border: 0;
    
    


	-webkit-transition: opacity 1;
	-moz-transition: opacity 1;
	-o-transition: opacity 1;
	transition: opacity 1;
}

.showing{
	opacity: 1;
	z-index: 2;
}

}