img {
    height: 125px;
    width: 125px;
    background-color: black;
    color: red;
    background-color: Transparent;
    background-repeat:no-repeat;
    border: none;
    cursor:pointer;
    overflow: hidden;  
}


* {
    box-sizing: border-box;
  }
  
  :root {
    --gold: #ffb338;
    --light-shadow: #77571d;
    --dark-shadow: #3e2904;
  }
  body {
    margin: 0;
  }
  .wrapper {
    background-color: black;
    display: grid;
    grid-template-areas: 'overlap';
    place-content: center;
    text-transform: uppercase;
    height: auto;
  }
  .wrapper > div {
    background-clip: text;  
    -webkit-background-clip: text;
    color: #363833;
    font-family: 'Poppins', sans-serif;
    font-weight: 900;
    text-align: center;
    font-size: 2.5rem;
    grid-area: overlap;
    letter-spacing: 1px;
    -webkit-text-stroke: 4px transparent;
  }

  

  div.bg {
    background-image: repeating-linear-gradient( 105deg, 
      var(--gold) 0% , 
      var(--dark-shadow) 5%,
      var(--gold) 12%);
    color: transparent;
    filter: drop-shadow(5px 15px 15px black);
    transform: scaleY(1.05);
    transform-origin: top;
  }
  div.fg{
    background-image: repeating-linear-gradient( 5deg,  
      var(--gold) 0% , 
      var(--light-shadow) 23%, 
      var(--gold) 31%);
    color: #1e2127;
    transform: scale(1);
  }


  h2 {
    font-size: 26px;
    text-align: center;
    text-transform: uppercase;
    padding-top: 25px;
    padding-bottom: 10px;
    color: white;
  }


body {
    background: black;
    background-position:center;
    background-repeat:no-repeat;
    background-size: cover;

    background-color: black;
    font-family: "Raleway", sans-serif;
    color: white;
    text-align: center;
}

/* --------- Heading */

.heading {
    text-align: center;
    font-size: 2.5rem;
}

.logo {
    height: 40px;
    padding-right: 5px;
}

/* --------- Game layout */

.game-area {
    background-color: black;
    box-sizing: border-box;
    width: 85%;
    height: auto;
    max-width: 830px;
    margin-left: auto;
    margin-right: auto;
}

.question-area {
    width: 50%;
    font-size: 2rem;
    margin: auto;
    padding: 50px 0;
}

.question-area span {
    padding: 0 15px;
}

.score-area {
    margin: 5px auto;
    width: 60%;
    font-size: 1.2rem;
    padding: 50px;
}

.controls-area {
    width: 85%;
    margin: auto;
    
}

#score {
    color: green;
    font-weight: bold;
}

#incorrect {
    color: red;
    font-weight: bold;
}

.answer-message {
    display: none;
    font-size: 1rem;
}

#answer-box {
    border: none;
    color: white;
    display: inline-block;
    height: 40px;
    width: 80px;
    font-size: 1.2rem;
}

.scores {
    display: inline-block;
    padding: 25px;
    border: 50px;
}

/* --------- Buttons */

.image-button {
    color: black;
    
    
}

.image-button::after {
    content: attr(data-type);
    color: black;
    position: relative;
}

.image-button:focus {
    outline: solid;
    color: red;
}


.btn {
    width: 150px;
    height: 150px;
    font-family: "Raleway", sans-serif;
    color: red;
    border-radius: 50%;
    background: black;
}

.btn:focus {
    outline: solid;
    color: red;
}


.btn--big {
    
    border-radius: 50%;
    width: 150px;
    height: 150px;
    font-size: 3.2rem;
    margin: 30px 30px 30px 30px;
    transition: all ;    
    background: black;
}

.btn--big::after {
    content: attr(data-type);
    font-size: 1rem;
    color: green;
    position: relative;
    left: -0.5em;
}

.btn--blue {
    background: url(../images/banana-black-white.png);
    background-position:center;
    background-repeat:no-repeat;
    background-size: contain;
}

.btn--blue:active,
.btn--blue:hover {
    background-color: darkblue;
    color: white;
}

.btn--orange {
    background: url(../images/monkey-black-white.png);
    background-position:center;
    background-repeat:no-repeat;
    background-size: contain;
}

.btn--orange:active,
.btn--orange:hover {
    background-color: darkorange;
    color: white;
}

.btn--red {
    background: url(../images/monkey-yellow.png);
    background-position:center;
    background-repeat:no-repeat;
    background-size: contain;
}

.btn--red:active,
.btn--red:hover {
    background-color: darkred;
    color: white;
}

.btn--green {
    background: url(../images/banana-yellow.png);
    background-position:center;
    background-repeat:no-repeat;
    background-size: contain;
}

.btn--black {
    border-color: yellow;
    color: black;
}

.btn--green:active,
.btn--green:hover {
    background-color: darkgreen;
    color: white;
}

.btn--gray {
    margin-top: 25px;
    background-color: #445361;
    border: 1px transparent;
    border-radius: 20px;
}

.btn--gray:active,
.btn--gray:hover {
    background-color: #0d1013;
}

/* --------- Media queries */

@media (max-width: 414px) {
    .controls-area {
        width: 100%;
    }

    .btn--big {
        margin: 0 10px;
        padding: 5px;
        border: 5px solid;
        width: 50px;
        height: 50px;
        font-size: 1.5rem;
    }

    .btn--big::after {
        font-size: 0.6rem;
        left: -0.7rem;
    }

    .question-area {
        padding: 10% 0;
        width: 100%;
    }

    .question-area span {
        padding: 0;
    }

    .answer-message {
        display: block;
    }

    #answer-box {
        display: block;
        margin: 0 auto;
    }

    .btn--gray {
        margin-top: 0;
    }

    .score-area {
        width: 100%;
    }

    .scores {
        margin: 0.5em auto;
        display: block;
        padding: 5px;
    }

    .heading {
        font-size: 2rem;
    }
}

@media (max-width: 320px) {
    .game-area {
        height: 70vh;
    }

    .controls-area {
        width: 75%;
        margin: 10px auto;
    }

    .btn--big {
        margin: 10px 10px;
    }

    .question-area {
        padding: 10px 0;
    }

}